---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const about = `
A place for us to keep a small record of the things that matter to us.
`;
---

<Layout title="Welcome to Dunn-Keaney.">
    <h1 class="mb-10">Welcome to Dunn-Keaney.com</h1>
    <Markdown content={about} class="mb-10 text-lg" />
    <!--    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p> -->
</Layout>
