---
import Logo from '../components/Logo.astro';

const primaryNavItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Newsletter', href: '/newsletter' }
];

const personalNavItems = [
    { linkText: 'Kaleb', href: '/kaleb' },
    { linkText: 'James', href: '/james' }
];
---

<nav class="site-nav">
    <a href="/" class="brand-link">
        <Logo />
    </a>
    <ul class="nav-list">
        {
            primaryNavItems.map((item) => (
                <li>
                    <a href={item.href} class="nav-link">
                        {item.linkText}
                    </a>
                </li>
            ))
        }
        <li>
            <details class="nav-group">
                <summary class="nav-link">Wedding</summary>
                <ul class="nav-submenu">
                    <li>
                        <a href="/wedding" class="nav-sublink">
                            Details
                        </a>
                    </li>
                    <li>
                        <a href="/rsvp" class="nav-sublink">
                            RSVP
                        </a>
                    </li>
                </ul>
            </details>
        </li>
        <li class="nav-divider" aria-hidden="true">|</li>
        {
            personalNavItems.map((item) => (
                <li>
                    <a href={item.href} class="nav-link">
                        {item.linkText}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
