---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Newsletter', href: '/newsletter' },
    { linkText: 'Kaleb', href: '/kaleb' },
    { linkText: 'James', href: '/james' }
];
---

<nav class="site-nav">
    <a href="/" class="brand-link">
        <Logo />
    </a>
    <ul class="nav-list">
        <li>
            <details class="nav-group">
                <summary class="nav-link">Wedding</summary>
                <ul class="nav-submenu">
                    <li>
                        <a href="/wedding" class="nav-sublink">
                            Details
                        </a>
                    </li>
                    <li>
                        <a href="/rsvp" class="nav-sublink">
                            RSVP
                        </a>
                    </li>
                </ul>
            </details>
        </li>
        {
            navItems.map((item) => (
                <li>
                    <a href={item.href} class="nav-link">
                        {item.linkText}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
