<span class="sr-only">Kaleb Dunn</span>
<svg class="site-mark" width="132" height="86" viewBox="3.2 9.2 33 21.2" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
    <path d="M 9.2730844,10.930592 C 6.1372588,28.939192 6.1372588,28.849596 6.1372588,28.849596 Z" />
    <path d="m 20.772697,11.002333 c -3.135826,18.008599 -3.135826,17.919003 -3.135826,17.919003 0.667855,-3.482024 1.881244,-10.564578 3.135826,-17.919003 z" />
    <path
        d="m 16.037509,10.885795 c -2.374268,3.449408 -2.708597,6.307339 -5.835076,9.020364 -2.6094694,2.264387 -4.5217265,2.916661 -4.0651744,0.6111 0.5238322,-2.645322 2.4404575,-0.987948 4.1661684,3.270218 1.364267,3.366308 3.375117,4.602823 5.93567,5.263708 5.301129,1.368235 12.623747,1.414134 16.027649,-3.588978 C 34.97879,21.475998 35.198583,15.5169 31.325999,12.498505 27.72491,9.6917201 18.90455,10.885795 18.90455,10.885795"
    />
</svg>
