<span class="sr-only">Dunn-Keaney</span>
<svg class="site-mark" width="112" height="86" viewBox="3.4 9.6 28.2 20.8" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
    <path d="M 9.2730844,10.930592 C 6.1372588,28.939192 6.1372588,28.849596 6.1372588,28.849596 Z" />
    <path d="m 23.998118,11.315916 c -3.135826,18.008599 -3.135826,17.919003 -3.135826,17.919003 0.667855,-3.482024 1.881244,-10.564578 3.135826,-17.919003 z" />
    <path d="M 4.2333648,28.916792 C 9.5344938,30.285027 16.857112,30.330926 20.261014,25.327814 22.973058,21.341605 23.192851,15.382507 19.320267,12.364112 15.719178,9.5573275 6.8988178,10.751402 6.8988178,10.751402" />
    <path d="m 30.372712,11.378568 c -2.374268,3.449408 -2.663799,4.336249 -5.521493,8.214009 -2.049666,2.781304 -4.053833,2.499826 -3.751592,1.193468 0.364145,-1.573921 1.588138,-1.696181 3.852586,2.68785 1.531368,2.964769 2.756314,4.70348 4.32296,6.025265" />
</svg>
